<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyg.lyg.comment_friends_05">

    <!--웹뷰-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--방문기록 6.0 미만-->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <!--친구목록-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--문자 주고받기-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--자기 번호 가져오기-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--다른 앱 위에 그리기-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--부트 시 알림창 실행-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!--android:launchMode="singleTop"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:launchMode="singleInstance"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".page0_main"

            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 17.07.15 share intent from web browser -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <!--알림(문자수신) 창에서 엑티비티 실행-->
        <activity android:name=".page999_Dialog_for_Webview"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--알림창(Custon notification)에서 엑티비티 실행-->
        <activity android:name=".page999_Dialog_for_Search"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 최상단 서비스 -->
        <service android:name="com.lyg.lyg.comment_friends_05.page999_Service_Always_Top" />
        <service android:name="com.lyg.lyg.comment_friends_05.page999_Comment" />

        <!-- 문자 송수신 관련 -->
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.lyg.lyg.comment_friends_05.page999_Sms_Incoming" >
            <!-- priority 를 999로 함으로써 가장 먼저 BR을 수신하도록 함.(시스템 문자 app 보다도 먼저 함.) ==다른앱도 받음       -->
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- boot 시 notification 실행 -> 제거
        <receiver
            android:name="com.lyg.lyg.comment_friends_05.page999_Boot_Receiver" >"
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
                                    -->

        <!-- notification close btn 클릭 시 종료 -->
        <receiver
            android:name=".page999_Notification_Manager">
        </receiver>


    </application>

</manifest>